.popup__container {
  margin: 0;
  /*position: absolute;
  top: 195px;
  left: calc(50% - 215px);*/
  position: relative;
  padding: 34px 36px 37px;
  width: 430px;
  border-radius: 10px;
  background-color: #FFF;
  box-sizing: border-box;
  z-index: 2;
}

@media screen and (max-width: 600px) {
  .popup__container {
    min-height: 322px;
    width: 282px;
    /*left: calc(50% - 141px);
    top: 123px;*/
    padding: 25px 22px;
  }
}

@media screen and (max-width: 320px) {
  .popup__container {
    /*left: 19px;*/
  }
}

