.header {
  margin: 0;
  max-width: 1280px;
  width: 100%;
  padding: 0 0 41px;
  box-sizing: border-box;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 1280px) {
  .header {
    padding-left: calc(0px + (0 - 8) * (100vw - 320px) / (1280 - 320));
    padding-bottom: calc(38px + (41 - 38) * (100vw - 320px) / (1280 - 320));
  }
}



@media screen and (max-width: 320px) {
  .header {
    padding-left: 8px;
    padding-bottom: 38px;
  }
}
