

.content {
  margin: 0;
  width: 100%;
}

.profile {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 51px;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .profile {
    flex-direction: column;
    padding-bottom: 36px;
    padding-top: 42px;
  }
}

.profile__avatar {
  border-radius: 50%;
  width: 100%;
  max-width: 120px;
  max-height: 120px;
}

@media screen and (max-width: 800px) {
  .profile__avatar {
    padding: 0;
    margin-bottom: 28px;
  }
}

.profile__info {
  position: relative;
  left: -129px;
  box-sizing: border-box;
  margin: 0;
  max-width: 336px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  .profile__info {
    padding-bottom: 32px;
    margin: 0;
    left: 0;
  }
}

.profile__title {
  margin: 0 0 8px 0;
  color: #FFF;
  font-family: Inter, Arial, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 114%;
  text-align: left;
}

@media screen and (max-width: 1280px) {
  .profile__title {
    font-size: calc(27px + (42 - 27) * (100vw - 800px) / (1280 - 800));
  }
}

@media screen and (max-width: 800px) {
  .profile__title {
    font-size: 27px;
    text-align: center;
  }
}

.profile__subtitle {
  margin: 0;
  padding: 0;
  color: #FFF;
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 122%;
  text-align: left;
}

@media screen and (max-width: 1280px) {
  .profile__subtitle {
    font-size: calc(14px + (18 - 14) * (100vw - 800px) / (1280 - 800));
  }
}

@media screen and (max-width: 800px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 121%;
    text-align: center;
  }
}

.profile__btn-edit {
  height: 24px;
  width: 24px;
  padding: 0;
  margin: 0;
  background-image: url("../images/edit-button.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 16px;
  right: -44px;
  border: 0;
}

@media screen and (max-width: 800px) {
  .profile__btn-edit {
    width: 18px;
    height: 18px;
    top: 5px;
    right: -27px;
  }
}

.profile__btn-plus {
  height: 50px;
  padding: 0;
  margin: 0;
  width: 150px;
  border-radius: 2px;
  background-image: url("../images/plus-button.svg");
  background-position: center;
  box-sizing: border-box;
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 2px solid #FFF;
}

@media screen and (max-width: 800px) {
  .profile__btn-plus {
    height: 50px;
    width: 282px;
    background-size: 16px 16px;
  }
}

.elements {
  box-sizing: border-box;
}

.element {
  display: grid;
  grid-template-columns: repeat(3, 282px);
  column-gap: 17px;
  row-gap: 20px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .element {
    grid-template-columns: repeat(2, 282px);
  }
}

@media screen and (max-width: 600px) {
  .element {
    grid-template-columns: 282px;
  }
}

.element__item {
margin: 0;
padding: 0;
}

.element__foto {
  display: block;
  width: 100%;
  height: 282px;
  object-fit: cover;
  object-position: top;
  border-radius: 10px 10px 0 0;
}

.element__info {
  background-color: #FFF;
  margin: 0;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 79px;
  border-radius: 0 0 10px 10px;
  box-sizing: border-box;
}

.element__title {
  margin: 0;
  padding: 0;
  font-family: Inter, Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 120%;
  text-align: left;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.btn-like {
  margin: 0;
  padding: 0;
  height: 19px;
  width: 22px;
  background-color: transparent;
  background-image: url("../images/like-button.svg");
  background-size: cover;
  object-position: center;
  background-repeat: no-repeat;
  border: 0;
  box-sizing: border-box;
}

.btn-like:hover {
  opacity: .5;
  transition: 1s;
}

.btn-like_active {
  background-image: url("../images/likeakt-button.svg");
}

.popup {
  display: none;
}

.popup:before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  z-index: 1;
}

.popup_opened {
  display: block;
}

.popup__container {
  margin: 0;
  position: absolute;
  top: 195px;
  left: calc(50% - 215px);
  padding: 34px 36px 37px;
  min-height: 330px;
  width: 430px;
  border-radius: 10px;
  background-color: #FFF;
  box-sizing: border-box;
  z-index: 2;
}

@media screen and (max-width : 600px) {
  .popup__container {
    min-height: 322px;
    width: 282px;
    left: calc(50% - 141px);
    top: 123px;
    padding: 25px 22px;
  }
}

@media screen and (max-width : 320px) {
  .popup__container {
    left: 19px;
  }
}


.popup__heading {
  margin: 0 0 54px 0;
  font-family: Inter, Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 120%;
  text-align: left;
  height: 23px;
}

@media screen and (max-width : 600px) {
  .popup__heading {
    font-size: 18px;
    margin: 0 0 75px 0;
  }
}

.popup__input {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
}

.popup__name {
  margin: 0 0 29px 0;
  padding: 0 0 10px 0;
  border: 0;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 121%;
}

@media screen and (max-width : 600px) {
  .popup__name {
    padding: 0 0 8px 0;
  }
}

.popup__info {
  margin: 0 0 48px 0;
  padding: 0 0 9px 0;
  border: 0;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 121%;
}

@media screen and (max-width : 600px) {
  .popup__info {
    margin: 0 0 45px 0;
  }
}

.popup__btn-save {
  background-color: #000;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  border-radius: 2px;
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 122%;
  text-align: center;
  color: #FFF;
  border: 0;
}

.popup__btn-save:hover {
  opacity: .8;
  transition: 1s;
}

@media screen and (max-width : 600px) {
  .popup__btn-save {
    font-size: 14px;
    height: 47px;
  }
}

.popup__btn-close {
  margin: 0;
  padding: 0;
  height: 32px;
  width: 32px;
  background-image: url("../images/close-button.svg");
  background-color: transparent;
  position: absolute;
  background-size: cover;
  object-position: center;
  top: -40px;
  right: -40px;
  border: 0;
  z-index: 2;
}

@media screen and (max-width : 600px) {
  .popup__btn-close {
  height: 20px;
  width: 20px;
  top: -36px;
  right: 0
  }
}



